<div class="modal fade" id="myModal" ng-class="modalTypes.type" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>确认执行本操作?&hellip;</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-outline" ng-click="modalTypes.sureClick()">确认</button>
            </div>
        </div>
    </div>
</div>
